/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/


:root {

  --primary-color: white;
  --secondary-color: #262d42;
  --primary-link-color: #d90429;
  --button-primary-color: #e0b354;
  --primary-font-color: Black;
  --secondary-font-color: #262d42;
  --primary-active-link-color: #262d42;
  --primary-card-background-color: #dee1e2;
}



/* here begins the Header*/

.page-header {
  border-bottom: solid 0.5px;
  border-color: var(--primary-active-link-color);
  height: 60px;
  width: 90%;
  position: fixed;
  top: 0;
  background-color: hsla(0, 0%, 100%, .7);
  z-index: 999;
  left: 5%;
  opacity: 0.9;
  backdrop-filter: blur(8px);
}




a {
  color: var(--primary-link-color);
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: var(--primary-link-color);
}

a:active {
  color: var(primary-active-link-color) !important;
}

p {
  float: left;
}

.opa {
  background-color: var(--primary-font-color);
}


.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 300px;
  flex: 0 1 300px;
  position: relative;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
  float: right;
  padding-right: 10%;
}

.logo {
  width: 120px;
  height: 120px;
  float: left;
  position: relative;
  top: -11px;
  left: -15px;
  filter: invert(100%);

}

.logo.hide {
  display: none;
}

.navigation-list {
  list-style-type: none;
  padding-right: 5%;
  margin-top: 15px;

}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.main-navigation {
  text-align: center;
}

@media (max-width: 750px) {

  #navigation-list-toggle {
    display: none;
  }
}

@media (min-width: 750px) {
  #hamburger {
    display: none;
  }

  .smart-navigation-hide2 {
    display: none;
  }
}

@media (max-width: 750px) {
  #hamburger {
    float: right;
    padding-right: 5%;
    padding-top: 15px;
    height: 45px;
    width: 45px;
    z-index: 1;
    box-sizing: none;
  }

  .smart-navigation-hide {
    display: none;
  }


  .smart-navigation {
    transition: 1s;
    position: absolute;
    background-color: var(--button-primary-color);
    height: 1000%;
    width: 90px;
    right: 0;
  }

  #close-nav {
    float: right;
    font-size: 25px;
    margin-right: 10px;
  }

  .navigation-list {
    display: flex;
    flex-direction: column;
  }

  .smart-navigation-hide {
    display: none;
  }

}

li {
  padding: 6px 0;
}

.navigation-list__item {
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.navigation-list__item::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}


.navigation-list__item:hover {
  color: #95a5a6;
}

.navigation-list__item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navigation-list__item--active {
  color: var(--primary-active-link-color);
}

.berlin-illustration {


  z-index: -1;
  position: fixed;
  top: 20px;
  opacity: 0.1;
  width: 100%;
  height: auto;
}


/*<------- here ends the header-------->*/

/* body starts here */

body {
margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--primary-color);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
 
  color: var(--primary-font-color);

}

h1 {
  font-size: 30px;
  font-weight: 700;

}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}





/*Buttons start*/



button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--button-primary-color);
  color: #2b2b2b;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--button-primary-color);
  color: #2b2b2b;
}



/*Buttons*/

#myWork {
  height: 120%;
  text-align: center;
  background-color: var(--secondary-color);
  padding-top: 10px;
  padding-bottom: 20px;
}


/* Profile Section Starts here*/


@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
.iframely-embed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: white;
}
#app {
  z-index: 100;
}
#app:hover {
  opacity: 0.5;
}
#app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-bottom: 4vmin;
  height: 90vh;
  width: 100%;
  background: #ede8e2;
  color: #3a3535;
}
body {
  display: grid;
  padding: 3vmin;
  background: #e6ded7;
}
.title {
  padding-left: 1em;
  grid-column: 1 / -1;
  grid-row: 1;
  font-family: "Prata", serif;
  font-size: 8vw;
  width: 100%;
  z-index: 2;
}
.title > .title-inner {
  display: inline-block;
}
@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}
@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}
.cafe, .mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}
.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.mozart-inner {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.title {
  animation: outer-left 1s 1s ease both;
}
.cafe > .cafe-inner {
  display: inline-block;
}
.mozart {
  display: inline-block;
}
.image {
  grid-row: 1;
  grid-column: 2;
  margin-left: -2rem;
  opacity: 0.7;
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}
@keyframes image-in {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.image img {
  display: block;
  width: 100%;
  height: auto;
}
body:active * {
  animation: none !important;
}

  .profile {
    padding-top: 10% ;
   
   
    
    

  }

  #nameHeader{
    font-size: 35px;
    font-weight: 700;
    top: 0;
    left: 0;
    
  }


  #mainHeader{
    font-size: 88px;
    font-weight: 700;
  }

  .profile-portrait {
    width: 90%;
    border-radius: 50px;    

}


.profileDescription{
  width: 100%;


}

#profileDescriptionPara{
  width: 100%;
  margin: 20px auto;
  margin-bottom: 20px;
  

}



#code-link
{
 text-align: center;
 position: fixed;
 bottom: 0;
left: 5%;
 height: 50px;
 width: 90%; 
 border-radius:  30px 30px 0 0;
}

/* Profile Section Ends here*/



.project-links {
  text-align: center;
  margin-left: auto;
  align-items: space-between;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 0;
}



.about-grid {

  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;

}

.about-grid-skills {

  -ms-grid-column: 1;

  -ms-grid-column-span: 2;

  grid-column: 1/ 3;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;

}


.about-grid-skills table {

  margin: 0 auto;

}

.fading-lines {
  height: 1px;
  background-color: #E6E6E6;
  width: 80%;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(2%, white), color-stop(50%, #E6E6E6), color-stop(98%, white));
  background-image: -o-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
  background-image: linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
  background-image: -ms-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white));
}

.i-am,
.i-like {
  text-align: center;
  text-decoration: none
}

.about-list {
  list-style-type: none;
  padding: 0;
}









.intro {

  text-align: center;

}


td {

  border-style: solid;
  padding: 2px;
  margin-left: 10px;

}





/*<------contact-page starts here------>*/
.contact-section {


  justify-content: center;
  align-items: center;

}

#contact-data {
  justify-content: center !important;
  text-align: center;
  margin-top: 20px;
}



#contact-list {
  list-style: none;


}

/*<------contact-page ends here------>*/
table {
  border: 0px solid;
}



.web:hover {
  transition: 2s;
  transform: rotateY(-180deg);
}

.web:hover:after {
  transition: 2s;


}

/*<-------here begins the footer-------->*/
.page-footer {
  flex-direction: row;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: 5%;

}

.icons {
  width: 30px;
  height: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

#github {
  filter: invert(100%);

}


/*<-------here ends the footer-------->*/

/*<-----------here begins the Work_Page------------>*/

* {
  box-sizing: border-box;
}



/*<-----------here ends the Work_Page------------>*/

/*<-----------new grid section starts here  ?------------>*/
/*<-----------new grid section ?------------>*/



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.cloud-back {
  background-color: #242424;
  opacity: 0.9;
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  filter: blur(2px);
  -webkit-filter: blur(2px);
  transition: 1s;
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.cards {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  margin: auto;

}

.card {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  padding: 20px;

  border-radius: 10px;
  box-sizing: border-box;


}

.card:hover {
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card img {
  max-width: 100%;
}

.project-imgs-hover {
  transition: 2s;
  max-width: 120% !important;
  margin: 0 auto;

}

.card--expanded {
  cursor: default;

}

.card__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 5px;
  background: rgb(117, 47, 70);
  background: linear-gradient(54deg, rgba(117, 47, 70, 1) 0%, rgba(140, 43, 77, 1) 55%, rgba(99, 0, 20, 1) 100%);
  overflow: hidden;
}

.card:nth-child(2) .card__content {
  background: rgb(117, 47, 70);
  background: linear-gradient(54deg, rgba(117, 47, 70, 1) 0%, rgba(89, 25, 48, 1) 27%, rgba(187, 78, 100, 1) 100%);
}

.card:nth-child(3) .card__content {
  background: rgb(117, 47, 70);
  background: linear-gradient(180deg, rgba(117, 47, 70, 1) 0%, rgba(89, 25, 48, 1) 27%, rgba(76, 38, 86, 1) 49%, rgba(96, 84, 138, 1) 68%, rgba(53, 60, 153, 1) 88%, rgba(46, 67, 174, 1) 100%);
}

.card--expanded .card__content {
  border-radius: 0;
  position: fixed;
  top: 10%;
  left: 5%;
  border-radius: 5px 5px 0 0;
  width: 90%;
  height: 90%;
  z-index: 999;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;

}



.card__user-image {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  will-change: transform;
  transform-origin: 0 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/*
.card__user-image:hover{
  transition: 2s;
  top: 0; 
  translate: -150px;
 transform: scale(1.7);
 max-width: 100%;
}
*/
.card--expanded .card__user-image {
  width: 120%;
  height: auto;
  float: left;
}

.card__images {
  display: grid;
  gap: 10px;

  width: 100%;
  margin: 50px auto 0;
  transform-origin: 0 0;
  position: absolute;
  top: 100%;
}

.card--expanded .card__images {
  position: static;
}

.card__image {
  border-radius: 5px;
  height: 100%;
  width: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}



.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  transform-origin: 0 0;
  line-height: 1;
}

.card--expanded .card__title {
  font-size: 30px;
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 14px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}






#chatAppimgWrapper {
  width: 100%;
  overflow-y: scroll;
  max-width: 250px;
}

.scrollable-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: nowrap;
}





.card--expanded .card__header {
  flex-direction: column;
}

.card__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card--expanded .card__user-info {
  align-items: flex-start;
  gap: 2px 0;
}

.card__user-links {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 0;
  pointer-events: none;
  opacity: 0;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0 14px;
}

.card--expanded .card__user-links {
  position: static;
  opacity: 1;
  height: auto;
  margin-top: 5px;
  pointer-events: all;
}

.card__user-link {
  display: flex;
}

.card__user-link-icon {
  fill: currentColor;
  color: white;
  width: 20px;
}

.card__bio {
  opacity: 0;
  height: 0;
  transform-origin: 0 0;
  display: flex;
  flex-direction: column;
}

.card--expanded .card__bio {
  max-width: 800px;
  margin: 20px auto 0;
  opacity: 1;
  height: auto;
}

.card__close {
  position: absolute;
  right: -40px;
  top: 20px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;
  color: white;
  padding: 10px;
}

.card--expanded .card__close {
  transition: 0.3s all ease;
  transition-delay: 0.3s;
  opacity: 1;
  pointer-events: all;
  transform: translateX(-100%) translateX(-20px);
}

.card--animatable .card__user-image,
.card--animatable .card__title,
.card--animatable .card__subtitle,
.card--animatable .card__user-links,
.card--animatable .card__bio,
.card--animatable .card__images,
.card--animatable .card__content {
  transition: all 0.5s cubic-bezier(0, 0, 0.4, 1);
}

@media (min-width: 520px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card__images {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 10px;
  }

  .card {

    width: 100%;

  }


  .card__images {
    grid-template-columns: 1fr 1fr;
  }


  .grid__images:last-child {
    width: 120%;
  }


  #code-link
{
  text-align: left;
 position: absolute;
 left: 97%;
  bottom: 0;
 height: 350px;
 width: 50px; 
 border-radius: 30px 0 0 30px ;
}


  .profile-portrait {
    position: relative ;
    right: -300px;
    opacity: 0.7;
    width: 350px;
    overflow: hidden;
    float: right;
    border-radius: 10%;
    bottom: 300px;
  
  }
  
  .profile-portrait:hover {
    transition: 1s;
    position: relative;
    float: right;
    transform: translateX(-300px);
   
    border-radius: 10%;
    opacity: 1;
  }

  .profile {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    padding-right: 0;;
  
   
   
    margin-left: 10%;
  }

  .profile-description{

    width: 50%;
   bottom: 80px;

   
    
  }
  #profileDescriptionPara{
    position: relative; 
    top: -80px;
  }

}




@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 16px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.stack-icons:nth-child(0) {
  display: inline-block;
  animation: float 4s infinite ease-in-out;
  animation-delay: 0s;
}

.stack-icons:nth-child(1) {
  display: inline-block;
  animation: float 4s infinite ease-in-out;
  animation-delay: 0.5s;
}

.stack-icons:nth-child(2) {
  display: inline-block;
  animation: float 4s infinite ease-in-out;
  animation-delay: 1s;
}

.stack-icons:nth-child(3) {
  display: inline-block;
  animation: float 4s infinite ease-in-out;
  animation-delay: 1.5s;
}

.stack-icons:nth-child(4) {
  display: inline-block;
  animation: float 4s infinite ease-in-out;
  animation-delay: 2s;
}

.stack-icons:nth-child(5) {
  display: inline-block;
  animation: float 4s infinite ease-in-out;
  animation-delay: 2.5s;
}

.stack-icons:nth-child(6) {
  display: inline-block;
  animation: float 4s infinite ease-in-out;
  animation-delay: 3s;
}

.stack-icons:nth-child(7) {
  display: inline-block;
  animation: float 4s infinite ease-in-out;
  animation-delay: 3.5s;
}

.stack-icons:nth-child(8) {
  display: inline-block;
  animation: float 4s infinite ease-in-out;
  animation-delay: 4s;
}


.stack-icons:nth-child(9) {
  display: inline-block;
  animation: float 4s infinite ease-in-out;
  animation-delay: 4.5s;
}

.stack-icons:nth-child(10) {
  display: inline-block;
  animation: float 4s infinite ease-in-out;
  animation-delay: 5s;
}


.content {
  position: relative;
  top: 35%;
}